<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/index.css">
</head>


<header class="site-section site-header">
    <div class="container">
        <div class="site-title">
            <a href="#">Home</a>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>

</header>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-primary text-stroke fixed-bottom">
            &copy; Petya Bogoeva 2024. All rights reserved.
        </div>
    </div>
</footer>


</html>