<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/recipe-info.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<div class="container">
    <h1>ERROR 404!</h1>
    <div>Sorry! Resource with id <th:block th:text="${id}">1</th:block> not found! Please go to the <a th:href="@{/}">home</a> page!</div>
</div>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>