.container{
    margin: 0 auto;
    text-align: center;
    margin-top: 10em;
    background-color: #ffffff;
    opacity: 0.8;
    padding: 30px 0;
    max-width: 800px;
    border-radius: 0.6em;
}

.container div{
    margin-top: 1.5em;
    font-size: medium;
}