
/*Recipe form */

.viewport{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
}

.title{
    font-size: 40px;
    border-bottom: 2px solid rgb(222, 226, 230);
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.2em;
}

.recipe-form{
    background: #fff;
    opacity: 0.8;
    display: block;
    border: 2px;
    border-radius: 0.3em;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.recipe-form label{
    display: block;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.6em;
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select{
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
}

.recipe-form input:focus,
.recipe-form textarea:focus,
.recipe-form select:focus{
    border-color: green;
}


.recipe-form button[type="submit"]{
    display: block;
    width: 100%;
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.3em;
    background: green;
    cursor: pointer;
    outline: none;
    opacity: 1;
    font-weight: bold;
}

.recipe-form button[type="submit"]:focus{
    background: #eee;
}

.helper{
    font: italic;
    font-size: 11px;
    opacity: 0.5;
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}

.red-background{
    background-color: red;
}


