.categories{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10em;
}

.categories section{
    padding: 2em;
    background-color: #fff;
    border-radius: 1.7em;
    opacity: 0.7;
    border: 2px solid #9f7951;
}



.categories a{
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: black;
}
