.titles{
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid rgb(222, 226, 230);
    margin-bottom: 1.5em;
    margin-top: 2.6em;
    padding-bottom: 1.6em;
    width: 800px;
}

.titles a{
    text-decoration: none;
    color: green;
}

.container{
    margin: 0 auto;
    font-size: 17px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 600px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 3em;

}

.main{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.info{
    display: flex;
    align-items:center;
    gap: 1em;
}

.delete-btn{
    background-color: green;
    padding: 6px;
    border: none;
    border-radius: 0.4em;
}


