footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:green;
    max-width: 2000px !important;
    padding: 10px 0;
    font-weight: bold;
    opacity: 0.9;
}