body{
    background-image: url(/images/background-2.avif) !important;
}

.container{
    overflow-y: scroll;
    scrollbar-width: none;
    height: 700px;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    align-items: center;
    gap: 3em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 6em;
}

.profile{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 3em;
    border-radius: 0.6em;
    padding: 0 10px;
    margin-top: 3.4em;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3em;
}

.main{
    display: flex;
    gap: 2em;
}

.favorites, .my-recipes{
    border: 2px solid green;
    border-radius: 0.5em;
}

.favorites p, .my-recipes p{
    display: block;
    background-color: green;
    text-align: center;
    font-weight: bold;
    padding: 18px;
}

table tbody{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 60px;
    border: none;
}

tr{
    padding: 1em;
    display: flex;
    gap: 1em;
    width: 440px;
}

td{
    align-items: center;
}

.recipe-name{
    width: 160px;
    text-align: center;
}

