.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
    font-size: large;
    border: 2px solid #9f7951;
    border-radius: 1.7em;
    max-width: 1000px;
    background-color: #fff;
    opacity: 0.8;
    padding: 30px 0;
}

.container h1{
    border-bottom: 2px solid green;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 0.2em;
    font-weight: bold;
}

.container a{
    color: green;
    font-weight: bold;
}


