/*Registration form */

.viewport{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
}

.title{
    font-size: 40px;
    border-bottom: 2px solid rgb(222, 226, 230);
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: 0.2em;
}

.registration-form{
    background: #fff;
    opacity: 0.8;
    display: block;
    border: 2px;
    border-radius: 0.3em;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

label{
    display: block;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.6em;
}

input[type="text"],
input[type="password"]{
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-color: green;
}


button[type="submit"]{
    display: block;
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.3em;
    background: green;
    cursor: pointer;
    outline: none;
    opacity: 1;
    font-weight: bold;
    margin-top: 1em;
}

button[type="submit"]:focus{
    background: #eee;
}

.helper{
    font: italic;
    font-size: 11px;
    opacity: 0.5;
    color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}

.red-background{
    background-color: red;
}


.existing{
    text-align: center;
    padding: 0px;
}

a {
    color: dodgerblue;
}



