

table tbody{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 20px;
    border: none;
}

table tr{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(245, 222, 179);
    margin: 0 auto;
}

table{
    text-align: center;
    margin: 0 auto;
}

.container{
    overflow-y: scroll;
    scrollbar-width: none;
    height: 700px;
    margin-top: 50px;
}

td p{
    background-color: navajowhite;
}





