<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/add-recipe.css">
    <link rel="stylesheet" href="/css/nav.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<section class="viewport">
    <h1 class="title">Add new recipe</h1>
    <form class="recipe-form"
          th:object="${recipeAddDTO}"
          th:method="POST"
          th:action="@{/recipes/add}">
        <div>
            <label for="name">Name</label>
            <input type="text"
                   th:field="*{name}"
                   th:errorclass="red-background"
                   name="name"
                   id="name">
            <span th:if="${#fields.hasErrors('name')}" class="helper">Recipe name must be between 3 and 30 characters!</span>
        </div>
        <div>
            <label for="ingredients">Ingredients</label>
            <textarea type="text"
                      class="ingredients"
                      th:field="*{ingredients}"
                      th:errorclass="red-background"
                      id="ingredients"
                      name="ingredients"></textarea>
            <span th:if="${#fields.hasErrors('ingredients')}" class="helper">Ingredients length must be between 10 and 60 characters!</span>
        </div>
        <div>
            <label for="instructions">Instructions</label>
            <textarea type="text"
                      class="instructions"
                      th:field="*{instructions}"
                      th:errorclass="red-background"
                      id="instructions"
                      name="instructions"></textarea>
            <span th:if="${#fields.hasErrors('instructions')}" class="helper">Instructions length must be minimum 20 characters!</span>
        </div>
        <div>
            <label for="time-for-cooking">Minutes for cooking</label>
            <input type="number"
                   name="time-for-cooking"
                   th:field="*{timeForCooking}"
                   th:errorclass="red-background"
                   id="time-for-cooking">
            <span th:if="${#fields.hasErrors('timeForCooking')}" class="helper">The time must be positive number!</span>

        </div>
        <div>
            <label for="category">Category</label>
            <select class="browser-default custom-select"
                    th:field="*{category}"
                    th:errorclass="red-background"
                    id="category"
                    name="category">
                <option value="">Select category</option>
                <option value="SALAD">Salad</option>
                <option value="SOUP">Soup</option>
                <option value="MAIN_DISH">Main dish</option>
                <option value="DESSERT">Dessert</option>
            </select>
            <span th:if="${#fields.hasErrors('category')}" class="helper">You must select a category!</span>
        </div>

        <div>
            <form>
                <button type="submit">Add recipe</button>
            </form>
        </div>

    </form>
</section>

<th:block th:replace="~{fragments/footer.html}"></th:block>


</body>
</html>