<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/add-comment.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<section class="viewport">
    <h1 class="title">What do you think for us?</h1>
    <form th:action="@{/comments/add}"
          th:method="post"
          th:object="${addCommentDTO}" class="add-comment-form">
        <div >
            <label for="authorName">Your name</label>
            <input type="text"
                   th:field="*{authorName}"
                   th:errorclass="red-background"
                   name="authorName"
                   id="authorName">
            <span th:if="${#fields.hasErrors('authorName')}" th:text="#{registration_requirements_username}" class="helper">Username length must be between 3 and 30 characters!</span>
        </div>

        <div>
            <label for="comment">Your thoughts</label>
            <textarea type="text"
                      th:field="*{comment}"
                      th:errorclass="red-background"
                      class="comment"
                      id="comment"
                      name="comment"></textarea>
            <span th:if="${#fields.hasErrors('comment')}" class="helper">Your comment must contain minimum 5 characters!</span>

        </div>

        <div>
            <label for="rate">Please rate your experience with us!</label>
            <select class="browser-default custom-select"
                    id="rate"
                    th:field="*{rate}"
                    th:errorclass="red-background"
                    name="rate">
                <option value="">Select rate</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span th:if="${#fields.hasErrors('rate')}" class="helper">You must select a rate!</span>
        </div>
        <hr>

        <div>
            <form>
                <button type="submit">Leave a comment</button>
            </form>
        </div>

    </form>
</section>


<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>