<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/comments.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<div class="titles">
    <h1>What other users say for us</h1>
    <h3><a th:href="@{/comments/add}">Add</a> your comment</h3>
</div>


<div class="container">
    <section class="comment">
        <div th:each="comment : ${allComments}" class="info">
            <img th:src="@{images/user-profile.png}" alt="profile-picture" width="45px" height="45px">
            <p><b th:text="${comment.authorName}"></b> says:</p>
            <div th:text="${comment.comment}" class="comment"></div>
            <div th:text="${comment.rate}" class="rate">Rate: </div>
        </div>
    </section>

</div>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>