<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<div class="container">

    <section th:object="${myInfo}" class="profile">
        <img th:src="@{images/user-profile.png}" alt="" width="200px" height="200px">
        <div class="info">
            <p><b>Username: </b> <span th:text="${myInfo.username}"></span></p>
            <p><b>Email:</b> <span th:text="${myInfo.email}"></span></p>
        </div>
    </section>

    <div class="main">

        <section class="my-recipes">
            <p>ADDED BY ME</p>
            <table>
                <tr th:each="recipe : ${addedByMe}">
                    <td>
                        <img th:src="${recipe.image}" alt="" width="100px" height="100px">
                    </td>
                    <td th:text="${recipe.name}">Name</td>
                    <td>Remove</td>
                    <td><a th:href="@{/remove-from-favorites/{id}(id=${recipe.id})}">
                        <img th:src="@{images/remove.png}" alt="Remove">
                    </a ></td>
                </tr>
            </table>
        </section>

        <section class="favorites">
            <p>FAVORITES</p>
            <table th:each="favorite : ${favorites}">
                <tr>
                    <td>
                        <img th:src="${favorite.image}" alt="" width="100px" height="100px">
                    </td>
                    <td th:text="${favorite.name}"></td>
                    <td th:text="${favorite.addedBy}">Owner</td>
                    <td>Remove</td>
                    <td><a th:href="@{/remove-from-favorites/{id}(id=${favorite.id})}">
                        <img th:src="@{images/remove.png}" alt="Remove">
                    </a ></td>
                </tr>
            </table>
        </section>

    </div>

</div>


<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>