<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<div class="container">
    <h1>Welcome to Delicious Recipes!</h1>
    <section>The website for the best recipes ever!
        <div> Here you will find new interesting ideas and also you can share your favorite recipes.</div>
        <div>No matter if you are an amateur or proffesionalist in the cooking, this is your place.</div>
    </section>
    <p><a th:href="@{users/login}">Login</a> if you already have an account or <a th:href="@{users/register}">Register</a> and let's start cooking together!</p>

</div>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>