<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<section class="viewport">
    <h1 class="title" th:text="#{login_title}">Login</h1>
    <div class="incorrect_credentials" th:if="${showErrorMessage}" th:text="#{login_invalid_message}">Incorrect username or password!</div>
    <form class="login-form"
          th:method="POST"
          th:action="@{/users/login}">
        <div class="field">
            <label for="login-username" th:text="#{login_username}">Username</label>
            <input type="text"
                   name="username"
                   id="login-username">
        </div>

        <div class="field">
            <label for="password" th:text="#{login_password}">Password</label>
            <input type="password"
                   name="password"
                   id="login-password"
            >
        </div>

        <button type="submit" th:text="#{home_login}">Login</button>

        <div class="container signin">
            <p>
                <a th:text="#{login_link_for_register}">Don't have an account? </a>
                <a th:href="@{/users/register}" th:text="#{register_title
                }">Register</a>.
            </p>
        </div>
    </form>
</section>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>