<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>

<header class="site-section site-header">
    <div class="container">
        <div class="site-title">
            <a href="#">Home</a>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="viewport">
    <h1 class="title">Login</h1>
    <form action="#">
        <div class="field">
            <label for="login-username">Username</label>
            <input type="text" name="username" id="login-username" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="login-password" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>

        <input type="submit" value="Login">

        <div class="container signin">
            <p>Don't have an account? <a href="#">Register</a>.</p>
        </div>
    </form>
</section>

<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; Petya Bogoeva 2024. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>