<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>

<section class="viewport">
    <h1 class="title" th:text="#{register_title}">Register</h1>
    <form class="registration-form"
          th:method="POST"
          th:action="@{/users/register}"
          th:object="${userRegisterDTO}">
        <div>
            <label for="username" th:text="#{register_username}">Username</label>
            <input type="text"
                   name="username"
                   th:field="*{username}"
                   th:errorclass="red-background"
                   id="username"
                   >
            <span th:if="${#fields.hasErrors('username')}" th:text="#{registration_requirements_username}" class="helper">Username length must be between 4 and 20 characters!</span>
        </div>
        <div>
            <label for="email" th:text="#{register_email}">Email</label>
            <input type="text"
                   name="email"
                   id="email"
                   th:field="*{email}"
                   th:errorclass="red-background"
                   >
            <span th:each="err : ${#fields.errors('email')}" th:text="${err}" class="helper">Email cannot be empty!</span>
        </div>
        <div>
            <label for="password" th:text="#{register_password}">Password</label>
            <input type="password"
                   name="password"
                   th:field="*{password}"
                   th:errorclass="red-background"
                   id="password"
                   >
            <span th:if="${#fields.hasErrors('password')}" th:text="#{registration_requirements_password}" class="helper">Password length must be between 5 and 20 characters!</span>
        </div>
        <div>
            <label for="password-repeat" th:text="#{register_repeat_password}">Repeat Password</label>
            <input type="password"
                   name="password-repeat"
                   th:field="*{confirmPassword}"
                   th:errorclass="red-background"
                   id="password-repeat" >
            <span th:if="${#fields.hasErrors('confirmPassword')}" class="helper"></span>
        </div>

        <button type="submit" th:text="#{home_login}">Login</button>


        <div class="existing">
            <p>
                <a th:text="#{register_existing_account}">Already have an account? </a>
                <a th:href="@{/users/login}" th:text="#{login_title}">Sign in</a>.
            </p>
        </div>
    </form>
</section>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>