<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>

<header class="site-section site-header">
    <div class="container">
        <div class="site-title">
            <a href="#">Home</a>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="#">About</a></li>
                <li><a sec:authorize="isAuthenticated()" href="">Recipes</a></li>
                <li><a sec:authorize="isAnonymous()" href="">Register</a></li>
                <li><a sec:authorize="isAnonymous()" href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="viewport">
    <h1 class="title">Register</h1>
    <form action="action_page.php">
        <div>
            <label for="username">Username</label>
            <input type="text"  name="email" id="username" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>
        <div>
            <label for="psw">Password</label>
            <input type="password" name="psw" id="psw" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>
        <div>
            <label for="psw-repeat">Repeat Password</label>
            <input type="password" name="psw-repeat" id="psw-repeat" required>
            <span class="helper">Min. 8 characters, Max.20 characters</span>
        </div>
        <hr>

        <div class="terms">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</div>
        <input type="submit" value="Register">


        <div class="existing">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>
</section>

<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; Petya Bogoeva 2024. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>