<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="/css/salads.css">

</head>
<body>

<th:block th:replace="~{fragments/nav.html}"></th:block>


<div class="container">

    <table>
        <tr th:each="salad : ${allSalads}">
            <td><img th:src="${salad.image}" width="260px" height="200px">
            <td><p th:text="${salad.name}"></p></td>
            <td><a th:href="@{/{id}(id=${salad.id})}">View</a></td>

        </tr>
    </table>
</div>

<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>